body {
    text-align: center;
    margin-top: 0px;
}
.navbar {
    display: flex;
    height: 14vh;
    width: 100%;
    background: red;
    border: 2px solid black;
}

.title {
    background-color: lightblue;
}