/* Importing Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media screen and (max-width: 480px) {
    /* CSS for mobile phones */

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards :first-child {
        margin-top: auto;
    }

    .cards article {
        margin-top: 20px;
    }
}


body {
    margin: 0;
    font-family: "Montserrat";
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: black;
}

.navbar {
    position: fixed;
    top: 0px;
    display: flex;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white;

}

.title {
    width: 50%;
}

.logo_img {
    margin-top: 10px;
    margin-left: 60px;
}

.button-list {
    height: 50%;
    width: 40%;
    margin-left: auto;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.langs_content {
    display: none;
    position: absolute;
    margin-left: 20px;
}

.whitespace {
    height: 200px;
}

.cards {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.cards article {
    border: 1px solid black;
    height: 400px;
    width: 300px;
}

@keyframes hide-navbar {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        top: -50px;
    }
}

@keyframes show-navbar {
    from {
        opacity: 0%;
        top: -50px;
    }

    to {
        opacity: 100%;
        top: 0px;
    }
}

@keyframes show-lang-menu {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes hide-lang-menu {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}